

body {
    margin: 0;
    padding: 0;

}

.menu12{
    display: flex;

}

.lmenu {
    display: flex;
    width: 70%;
    gap: 7px;
    justify-content: left;
    margin: 10px;
}
.lmenu a{
    width: max-content;
}
.rmenu{
    display: flex;
    width: 100%;
    justify-content: right;
    margin-right: 80px;
    margin-top: 10px;
    gap: 9px;
}
.btn {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px 6px;
    font-size: 13px;
    font-family: 'Segoe UI';
    transition: text-decoration 0.1s;
}
.btn:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.blue{
    padding-top: 17px;
    background-color: #0067b8 ;
    width: 100%;
    height: 42px;
    text-align: center;
}
.blue a{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    transition: text-decoration 0.1s;
}
.blu:hover{
    text-decoration: underline;
}
.png {
    background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Highlight-Surface-Pro-AI-11Ed-Sapphire-MC001-3000x1682:VP4-1399x600);
    width: 1256.5px;
    height: 538px;


}
.png .mainf {
    background-color: white;
    position:absolute;
    margin-top:47px;
    margin-left: 65px;
    width: 470px;
    height: 290px;
}
.text{
    color: black;
    text-decoration: none;
}
.mainf h3{
    font-size: 30px;
    font-family: 'Segoe UI';
    font-weight: 600;
    margin-left: 50px;
}
.mainf p{
    font-size: 15px;
    font-family: 'Segoe UI';
    font-weight: 400;
    margin-left: 50px;
}
.mainf .btn{
    margin-left: 50px;
    display: inline-block;
    padding: 10px 20px;
    background-color:#0067b8;
    color: white;
    text-decoration: none;
    border-radius: 2px;
    font-size: 15px;
    font-family: 'Segoe UI';
    font-weight: 600;

}
.mainf .btn:hover {
    background-color: #0056b3;
}
.pelem{
    gap: 15px;
    margin-top: 16px;
    margin-left: 525px;
}
.pbtn{
    border: none;
    background-color: white;
}
.elements{
    margin-top: 100px;
    display: flex;
    gap: 50px;
    margin-left: 120px;
}
.el{
    margin-top: 40px;
    display: flex;
    margin-left: 525px;
}
.but{
    font-weight: 600;
    font-family: 'Segoe UI';
    color: #0067b8;
}
.banners{
    margin-top: 80px;
    display: inline-flex;
    margin-left: 60px;
    gap: 20px;
}
.banr{
    width: 270px;
    height: 500px;
    background-color: white;
    box-shadow: 0px 2px 9px -6px;
    margin-bottom: 50px;
    font-family: 'Segoe UI';
    border-radius: 1px;
}
.ban {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 400;
}
.ban h5{
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin: 35px 25px 0px;
    font-weight: 600;
}
.ban p{
    margin: 5px 0px 0px 25px;
}
.banb{
    padding: 8px;
    margin-top: 30px;
    margin-left: 25px;
    color: white;
    display: block;
    width: 80px;
    height: 22px;
    text-decoration: 0.1 ms;
    background-color: #0067b8;
    font-weight: 600;
    border-radius: 2px;
    text-decoration: none;
}
.banb:hover{
    background-color: #0056b3;
}
.pre{
    padding: 8px;
    margin-top: 70px;
    margin-left: 25px;
    color: white;
    display: block;
    width: 120px;
    height: 24px;
    text-decoration: none;
    background-color: #0067b8;
    font-weight: 600;
    border-radius: 2px;
    text-decoration: 0.1 ms;
}
.pre:hover{
    background-color: #0056b3;
}
.xbox{
    padding: 8px;
    margin-top: 140px;
    margin-left: 25px;
    color: white;
    display: block;
    width: 140px;
    height: 24px;
    text-decoration: none;
    background-color: #0067b8;
    font-weight: 600;
    border-radius: 2px;
    text-decoration: 0.1 ms;
}
.xbox:hover{
    background-color: #0056b3;
}
.copy{
    padding: 8px;
    margin-top: 100px;
    margin-left: 25px;
    color: white;
    display: block;
    width: 180px;
    height: 44px;
    text-decoration: none;
    background-color: #0067b8;
    font-weight: 600;
    border-radius: 2px;
    text-decoration: 0.1 ms;
}
.copy:hover{
    background-color: #0056b3;
}
